@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import "reset.css";
@import "status-bar.css";
body {
  font-family: "Comfortaa", cursive;
}
body {
  background-color: lavenderblush;
}

.welcome-header {
  margin-top: 90px;
  text-align: center;
}
.welcome-header__title {
  margin: 90px 0px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}
